/*
    Jacked this from the material design sample website
    I think the shadow looks good on this piece
*/
.custom-left-side-nav-style {
    box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

/*
Original Style

.custom-left-side-nav-style {
    box-shadow: 3px 0 6px rgba(0,0,0,.24);
    width: 275px;
}

.custom-left-side-nav-style button {
    text-align: left;
    width: 100%;
}

*/