<div class="full-width"
     fxLayout="row">

    <label for="file-upload"
           class="custom-file-upload"
           fxLayoutAlign="center center"
           style="height: 50px; width: 50px;"
           fxFlex="50px">
        <mat-icon>attachment</mat-icon>
    </label>

    <input id="file-upload" 
           type="file" 
           [disabled]="disabled"
           (change)="fileChange($event)" />

    <mat-form-field fxFlex>
        <input matInput
               disabled
               placeholder="Upload File Name"
               type="text"
               [value]="fileName" />
    </mat-form-field>

</div>
