<div style="width: 100%;"
     fxLayout="row-reverse">

    <div [@slideLeft]="confirming()">
        <button mat-button
                id="okButton"
                color="primary"
                (click)="ok()"
                *ngIf="showOk"
                [disabled]="okDisabled">
            <mat-icon>
                {{okButtonIcon}}
            </mat-icon>

            <span>{{okText}}</span>
        </button>


        <button mat-button
                id="cancelButton"
                color="accent"
                (click)="cancel()"
                *ngIf="showCancel"
                [disabled]="cancelDisabled">
            <mat-icon>
                {{cancelButtonIcon}}
            </mat-icon>

            <span>{{cancelText}}</span>
        </button>
    </div>


    <div *ngIf="showAreYouSure()"
         [@slideLeft]="!confirming()">

        <span>
            {{areYouSureText}}
        </span>

        <button mat-button
                id="confirmYes"
                color="primary"
                (click)="confirmYes()">
            <mat-icon>
                check
            </mat-icon>
            <span>{{yesText}}</span>
        </button>


        <button mat-button
                id="confirmNo"
                color="accent"
                (click)="confirmNo()">
            <mat-icon>
                close
            </mat-icon>
            <span>{{noText}}</span>
        </button>
    </div>

</div>