<div *ngIf="src != null">

    <div class="video-container-wrapper"
         *ngIf="!useCustomIFrame()">

        <div class="video-container">

            <iframe [src]="safeSrc"
                    frameborder="0"
                    allowfullscreen="true"
                    mozallowfullscreen="true"
                    webkitallowfullscreen="true"></iframe>

        </div>

    </div>


    <div class="scroll-wrapper"
         *ngIf="useCustomIFrame()">

        <iframe [src]="safeSrc"
                frameborder="0"
                allowfullscreen="true"
                mozallowfullscreen="true"
                webkitallowfullscreen="true"></iframe>

    </div>

</div>