<mat-button-toggle-group #group="matButtonToggleGroup"
                         [disabled]="isDisabled()"
                         [value]="val"
                         (blur)="onTouch()">

    <mat-button-toggle [value]="yesValue"
                       (click)="setVal(yesValue)">
        {{getYesText()}}
    </mat-button-toggle>

    <mat-button-toggle [value]="noValue"
                       (click)="setVal(noValue)">
        {{getNoText()}}
    </mat-button-toggle>

    <mat-button-toggle [value]="notSureValue"
                       (click)="setVal(notSureValue)">
        {{getNotSureText()}}
    </mat-button-toggle>

</mat-button-toggle-group>
