<div class="grid-layout">

    <mat-toolbar style="padding-top: 15px;">

        <mat-toolbar-row>
            <div fxFlex
                 fxLayoutAlign.xs="center center"
                 fxLayoutAlign.gt-xs="{{getGtXsToolbarAlignment()}} center">

                <span class="page-count-text">{{pageCountText}}:&nbsp;</span>

                <mat-form-field style="width: 100px;">
                    <mat-select [(ngModel)]="request.pageCount"
                                (selectionChange)="refreshTotalPages()"
                                style="padding-top: 0px;">
                        <mat-option *ngFor="let count of pageCounts" [value]="count">{{count}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxHide.xs
                 *ngIf="!hideSearch">

                <mat-form-field style="width: auto;">
                    <input type="text"
                           matInput
                           [(ngModel)]="request.search"
                           [placeholder]="searchText + '...'" />
                </mat-form-field>

                <button mat-icon-button
                        (click)="refreshPagination()">
                    <mat-icon>search</mat-icon>
                </button>
            </div>
        </mat-toolbar-row>

        <mat-toolbar-row fxHide.gt-xs
                        fxLayoutAlign="center center"
                        *ngIf="!hideSearch">


            <button mat-icon-button>
                <mat-icon>search</mat-icon>
            </button>

            <mat-form-field>
                <input type="text" 
                       style="width:190px;" 
                       matInput 
                       [(ngModel)]="request.search" 
                       [placeholder]="searchText + '...'" />
            </mat-form-field>

        </mat-toolbar-row>

        <mat-toolbar-row class="page-count-bar"
                        fxLayoutAlign="center center">

            <button mat-icon-button
                    (click)="previousPage()"
                    [disabled]="!canMovePrevious()">
                <mat-icon>chevron_left</mat-icon>
            </button>

            <span fxFlex
                  fxLayoutAlign="center">
                
                <span [hidden]="requestInit">{{request.pageNumber}} / {{getTotalPages()}}</span>
                <span *ngIf="requestInit">- / -</span>
            </span>

            <button mat-icon-button
                    (click)="nextPage()"
                    [disabled]="!canMoveNext()">
                <mat-icon>chevron_right</mat-icon>
            </button>

        </mat-toolbar-row>

    </mat-toolbar>

    <div class="full-width"
         fxLayoutAlign="space-around center">

        <h3 *ngIf="showNoData()">
            {{noDataText}}
        </h3>

    </div>


    <!-- We'll bring in some pagination elements here as necessary -->
    <!-- We'll also need to add some search functionality -->
    <!-- Number of items per page is also appropriate -->
    <!-- Ensure you leverage your models appropriately -->
    <!-- Eventually abstract to a separate section -->
    <mat-card style="height: 100%;"
             *ngIf="response != null">
        <ng-content></ng-content>
    </mat-card>
</div>