<div *ngIf="!isLoading">

    <div fxLayoutAlign="center center"
         style="margin-bottom: 20px; padding-top: 10px;">

        <mat-slide-toggle [(ngModel)]="showAll">
            {{showAllPagesText}}
        </mat-slide-toggle>


    </div>

    <div fxLayout="row"
         style="margin-top: 20px;"
         *ngIf="!showAll">

        <button mat-button
                id="prevButton"
                (click)="previousPage()">
            <mat-icon>chevron_left</mat-icon>
            <span>{{previousPageText}}</span>
        </button>

        <div fxFlex
             fxLayoutAlign="center center">
            <mat-form-field style="width: 60px;">
                <input matInput
                       [placeholder]="pageText"
                       [(ngModel)]="currentPage"
                       (change)="onPageInputChange()">
            </mat-form-field>

            / {{totalPages}}
        </div>

        <button mat-button 
                (click)="nextPage()"
                id="nextButton">
            <span>{{nextPageText}}</span>
            <mat-icon>chevron_right</mat-icon>
        </button>

    </div>

</div>

<div style="margin-top: 30px;"
     fxLayoutAlign="center center"
     *ngIf="isLoading">

    <mat-spinner mode="indeterminate"
                 color="accent">
    </mat-spinner>

</div>

<div [ngClass]="{ 'image-border image-auto-size': !isLoading }">

    <pdf-viewer [src]="src"
                [original-size]="false"
                [page]="currentPage"
                [show-all]="showAll"
                (after-load-complete)="afterLoadComplete($event)"
                (error)="logErr($event)"
                style="display: block;">
    </pdf-viewer>

</div>